html {
	margin: 0;
}

body {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.green-bg,
.purple-bg,
.brown-bg {
	position: relative;
}

.green-bg {
	background: rgb(132, 157, 143);
}

.purple-bg {
	background: rgb(137, 150, 166);
}

.brown-bg {
	background: rgb(157, 139, 132);
}

.green-bg::before,
.purple-bg::before,
.brown-bg::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 78px;
	z-index: -1;
	width: 1046px;
	height: 838px;
}

.green-bg::before {
	background-image: url("../img/ice-cream.png");
	background-repeat: no-repeat;
}

.purple-bg::before {
	background-image: url("../img/ice-cream-2.png");
	background-repeat: no-repeat;
}

.brown-bg::before {
	background-image: url("../img/ice-cream-3.png");
	background-repeat: no-repeat;
}

.body-animation {
	animation: translate linear 0.6s;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	margin: 0 auto;
	width: 1146px;
}

.left {
	float: left;
}

.right {
	float: right;
}

header {
	position: relative;
	padding: 23px 0;
	padding-bottom: 18px;
	box-sizing: border-box;
}

.logo {
	position: relative;
}

.logo img {
	position: absolute;
	top: -7px;
	left: -6px;
	width: 153px;
	height: 63px;
}

.main-nav {
	float: left;
	width: 600px;
	margin-left: 164px;
	padding-top: 7px;
}

.main-nav ul {
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}

.main-nav li {
	display: inline-block;
	margin-right: 2px;
	font-size: 16px;
}

.main-nav li:last-child {
	margin-right: 0;
}

.main-nav a {
	display: block;
	padding: 6px 14px;
	color: rgb(255, 255, 255);
	font-weight: 700;
	text-decoration: underline solid rgba(255, 255, 255, 0.4);
	border-radius: 20px;
}

header a.active-item-popup,
header span.active-item-popup {
	color: rgb(255, 255, 255);
	text-decoration: none;
	background-color: rgb(208, 112, 88);
}

.user-section {
	float: right;
	padding-top: 6px;
	font-size: 0;
}

.user-section a,
.user-search {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.2);
}

.user-search {
	width: 32px;
	height: 32px;
	margin-right: 10px;
	border-radius: 50%;
	background-image: url("../img/search-icon.svg");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.user-section .user-active {
	color: rgb(50, 50, 50);
	background-color: rgb(248, 247, 244);
}

.user-enter,
.user-cart {
	padding: 8px 0;
	border-radius: 15px;
}

.user-enter {
	width: 92px;
	margin-right: 10px;
	padding-left: 28px;
	background-image: url(../img/enter-icon.svg);
	background-repeat: no-repeat;
	background-position: 16px center;
}

.user-cart {
	width: 117px;
	margin-right: 0;
	padding-left: 10px;
	background-image: url(../img/cart-icon.svg);
	background-repeat: no-repeat;
	background-position: 16px center;
}

.user-search:hover:not(.active-item-popup),
.user-enter:hover:not(.active-item-popup),
.user-cart:hover:not(.active-item-popup),
.main-nav a:hover:not(.active-item-popup) {
	color: rgb(50, 50, 50);
	background-color: rgb(248, 247, 244);
}

.main-nav a:active:not(.active-item-popup) {
	background-color: rgb(237, 237, 237);
	box-shadow: inset 0 2px 1px rgb(105, 105, 105);
}

.user-search:hover:not(.active-item-popup) {
	background-image: url("../img/search-icon-black.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.user-enter:hover:not(.active-item-popup) {
	background-image: url("../img/enter-icon-black.svg");
	background-repeat: no-repeat;
	background-position: 16px center;
}

.user-cart:hover:not(.active-item-popup) {
	color: rgb(49, 49, 49);
	background-color: rgb(248, 247, 244);
	background-image: url("../img/cart-icon-full.svg"), url("../img/cart-icon-bg.svg");
	background-repeat: no-repeat;
	background-position: 16px center, 21px 10px;
}

.promo {
	position: relative;
	padding-bottom: 44px;
}

.promo-schedule,
.promo-number {
	display: block;
	color: rgb(255, 255, 255);
	text-align: right;
}

.promo-schedule {
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 700;
}

.promo-number {
	margin-bottom: 275px;
	font-size: 22px;
	font-weight: 900;
}

.promo-title {
	clear: both;
	display: block;
	width: 670px;
	margin: 0 auto;
	margin-bottom: 28px;
	color: rgb(255, 255, 255);
	font-size: 60px;
	font-weight: 900;
	line-height: 60px;
}

.toggle {
	position: absolute;
	bottom: 63px;
	display: inline-block;
	vertical-align: top;
	width: 16px;
	height: 16px;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 50%;
	cursor: pointer;
}

.toggle:hover:not(.active-toggle) {
	background-color: rgba(248, 247, 244, 0.4);
}

.active-toggle {
	background-color: rgb(255, 255, 255);
}

.green-toggle {
	left: 0;
}

.purple-toggle {
	left: 29px;
}

.brown-toggle {
	left: 57px;
}

.btn {
	display: block;
	width: 278px;
	margin: 0 auto;
	box-sizing: border-box;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	color: rgb(255, 255, 255);
	font-size: 31px;
	font-weight: 700;
	line-height: 63px;
	text-align: center;
	text-decoration: none;
	background-image: -webkit-linear-gradient(bottom, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
	background-image: linear-gradient(to top, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border-radius: 30px;
}

.btn:hover {
	background-color: rgb(255, 255, 255);
	background-image: -webkit-linear-gradient(bottom, rgb(236, 110, 93) 0%, rgb(245, 134, 105) 100%);
	background-image: linear-gradient(to top, rgb(236, 110, 93) 0%, rgb(245, 134, 105) 100%);
	box-shadow: 0 2px 2px rgb(172, 16, 0);
}

.btn:active {
	background-color: rgb(255, 255, 255);
	background-image: -webkit-linear-gradient(bottom, rgb(225, 97, 62) 0%, rgb(215, 69, 49) 100%);
	background-image: linear-gradient(to top, rgb(225, 97, 62) 0%, rgb(215, 69, 49) 100%);
	box-shadow: inset 0 2px 2px rgb(148, 39, 24);
}

.content {
	color: rgb(255, 255, 255);
}

.content-left,
.content-right {
	width: 560px;
	padding: 19px;
	margin-bottom: 40px;
	padding-top: 16px;
	box-sizing: border-box;
	border-radius: 14px;
}

.content-left {
	float: left;
	min-height: 229px;
	background: url("../img/catalog-bg-1.jpg") center;
}

.content-right {
	float: right;
	min-height: 229px;
	background: url("../img/catalog-bg-2.jpg") center;
}

.content .btn {
	float: right;
	width: auto;
	padding: 15px 24px;
	font-size: 18px;
	line-height: 18px;
}

.content-right h3,
.content-left h3 {
	margin: 0;
	margin-bottom: 16px;
	font-size: 35px;
}

.content-right p,
.content-left p {
	margin: 0;
	margin-bottom: 47px;
	font-size: 18px;
	font-weight: 700;
}

.catalog-item {
	float: left;
	width: 267px;
	margin-right: 26px;
	margin-bottom: 39px;
	box-sizing: border-box;
	border: 1px solid transparent;
}

.catalog-item:hover {
	background-color: rgba(248, 247, 244, 0.3);
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.catalog-item:nth-of-type(4n) {
	margin-right: 0;
}

.catalog-item figure {
	position: relative;
	margin: 0;
	margin-bottom: 14px;
	height: 267px;
}

.catalog-item figcaption {
	position: absolute;
	left: 0;
	bottom: 13px;
	text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
	font-size: 45px;
	font-weight: 700;
}

.catalog-item .img-small {
	position: absolute;
	width: 61px;
	height: 61px;
	border-radius: 50%;
}

.catalog-item img:not(.img-small) {
	width: 268px;
	height: 267px;
	border-radius: 50%;
}

.catalog-item figcaption span {
	font-size: 30px;
}

.catalog-item p {
	margin: 0;
	padding: 0 5px;
	font-weight: 500;
	line-height: 22px;
	text-align: center;
	text-decoration: underline solid rgba(255, 255, 255, 0.3);
}

.catalog-item .btn {
	float: none;
	width: 193px;
	padding: 5.5px;
	margin-top: 18px;
	margin-bottom: 22px;
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;
	opacity: 0;
}

.catalog-item:hover .btn {
	opacity: 1;
}

.content-feature {
	margin-bottom: 40px;
	padding: 23px 20px;
	color: rgb(50, 50, 50);
	background: rgb(235, 223, 199) url("../img/content-feature-bg.jpg");
	border-radius: 15px;
}

.content-features {
	width: 532px;
	box-sizing: border-box;
}

.content-feature h1 {
	margin: 0;
	margin-bottom: 22px;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
}

.content-feature p {
	margin: 0;
	margin-bottom: 21px;
	padding-left: 56px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.content-feature p:last-child {
	margin: 0;
}

.content-features:first-of-type p:first-of-type {
	background: url("../img/ice-cream-svg.svg") no-repeat;
}

.content-features:first-of-type p:last-of-type {
	background: url("../img/leaf-svg.svg") no-repeat;
}

.content-features:last-of-type p:first-of-type {
	background: url("../img/cow-svg.svg") no-repeat;
}

.content-features:last-of-type p:last-of-type {
	background: url("../img/temperature-svg.svg") no-repeat;
}

.content-white {
	margin-bottom: 39px;
}

.blog,
.subscription {
	width: 560px;
	box-sizing: border-box;
	border-radius: 15px;
}

.blog {
	float: left;
	min-height: 220px;
	padding: 23px 20px;
	padding-right: 259px;
	background: rgb(255, 255, 255) url("../img/blog-bg.jpg") -30px -220px;
}

.blog span {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 8px;
	color: rgb(90, 90, 90);
	font-weight: 500;
}

.blog p,
.blog a {
	margin: 0;
	color: rgb(53, 53, 53);
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-decoration: underline solid rgba(0, 0, 0, 0.3);
}

.blog p:hover,
.blog p:active {
	color: rgb(236, 89, 60);
	text-decoration: underline solid rgba(236, 89, 60, 0.3);
}

.subscription {
	float: right;
	min-height: 220px;
	padding: 36.5px 27px;
	background: rgb(248, 247, 244) url("../img/sub-bg.jpg") no-repeat;
}

.subscription p {
	margin: 0;
	margin-bottom: 37px;
	color: rgb(90, 90, 90);
	line-height: 22px;
}

.subscription .btn {
	float: right;
	width: 129px;
	padding: 10px 24px;
	font-size: 17px;
	line-height: 24px;
}

.subscription input {
	float: left;
	width: 368px;
	padding: 9.4px 11px;
	box-sizing: border-box;
	color: rgb(53, 53, 53);
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 5px;
}

.subscription input::-webkit-input-placeholder {
	color: rgb(101, 101, 101);
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.map {
	position: relative;
	width: 1200px;
}

.map img {
	width: 1200px;
	height: 430px;
}

.contacts {
	position: absolute;
	top: 66px;
	right: 27px;
	width: 302px;
	padding: 31px 25px;
	box-sizing: border-box;
	background-color: rgb(255, 255, 255);
	border-radius: 15px;
}

.contacts p,
.contacts span {
	display: block;
	margin: 0;
	color: rgb(52, 52, 52);
}

.contacts .btn {
	width: 252px;
	padding: 10px 0;
	font-size: 17px;
	line-height: 24px;
}

.contacts p:first-of-type,
.contacts p:nth-of-type(3),
.contacts span:nth-of-type(2) {
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 20px;
}

.contacts p:nth-of-type(2),
.contacts span:nth-of-type(1) {
	margin-bottom: 16px;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

.contacts span:nth-of-type(1) {
	margin-bottom: 0;
}

.contacts span:nth-of-type(2) {
	margin-bottom: 24px;
}

footer {
	padding: 14px 0;
}

footer a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 13px;
	text-decoration: underline solid rgba(255, 255, 255, 0.3);
}

.social {
	float: left;
	width: 293px;
	font-size: 0;
}

.social a {
	display: inline-block;
	vertical-align: top;
	width: 28px;
	height: 28px;
	font-size: 0;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	opacity: 0.8;
}

.social a:not(:last-of-type) {
	margin-right: 14px;
}

.social a:hover {
	opacity: 1;
}

.social a:active {
	box-shadow: inset 0 2px 1px rgb(136, 136, 136);
}

.tw {
	background: url("../img/tw.svg") no-repeat center;
}

.ig {
	background: url("../img/ig.svg") no-repeat center;
}

.fb {
	background: url("../img/fb.svg") no-repeat center;
}

.vk {
	background: url("../img/vk.svg") no-repeat center;
}

.footer-info {
	float: left;
	width: 560px;
	padding: 0 128px;
	background: url("../img/heart.svg") no-repeat 108px 0px;
	box-sizing: border-box;
}

.footer-info a {
	display: block;
}

.footer-info .left a:first-of-type {
	font-weight: 700;
}

.footer-info a:hover,
.copyright a:hover {
	color: rgb(236, 89, 60);
	text-decoration: underline solid rgba(236, 89, 60, 0.3);
}

.footer-info a:first-child {
	margin-bottom: 8px;
}

.copyright {
	float: left;
	width: 293px;
	padding-left: 103px;
	box-sizing: border-box;
}

.copyright-html {
	display: block;
}

.copyright span,
.copyright a {
	color: rgb(254, 254, 254);
	font-size: 12px;
}


/*popup*/

.catalog-popup,
.search-popup,
.enter-popup,
.cart-popup {
	position: absolute;
	z-index: 1;
	display: none;
	box-sizing: border-box;
	background-color: rgb(248, 247, 244);
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog-popup {
	top: 67px;
	left: 157px;
	width: 143px;
	padding-top: 10px;
}

.catalog-popup-show {
	display: block;
}

.enter-popup-show {
	display: block;
}

.catalog-popup ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-popup a,
.catalog-popup span {
	display: block;
	color: rgb(52, 52, 52);
	font-size: 14px;
	text-decoration: none;
}

.catalog-popup a:not(.catalog-link) {
	padding: 8px 20px;
}

.catalog-popup a:hover:not(.catalog-link) {
	background-color: rgb(251, 222, 216);
}

.catalog-popup a:active:not(.catalog-link) {
	background-color: rgb(246, 181, 165);
}

.catalog-link {
	position: relative;
	margin-bottom: 14px;
	padding: 0 20px;
	font-weight: 700;
}

.catalog-link::after {
	content: "";
	position: absolute;
	top: 26px;
	left: 6px;
	width: 128px;
	height: 1px;
	background-color: rgb(209, 208, 206);
}

.search-popup {
	top: 65px;
	right: 230px;
	width: 342px;
	height: 69px;
	overflow: auto;
}

.search-popup-show {
	display: block;
}

.search-popup input,
.enter-popup input {
	box-sizing: border-box;
	color: rgb(53, 53, 53);
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(211, 211, 210);
	border-radius: 5px;
}

.enter-popup input::-webkit-input-placeholder,
.search-popup input::-webkit-input-placeholder {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.enter-popup input:-ms-input-placeholder,
.search-popup input:-ms-input-placeholder {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.enter-popup input::placeholder,
.search-popup input::placeholder {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.search-popup input {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 311px;
	height: 39px;
	margin: auto;
	padding: 0 12px;
}

.enter-popup {
	top: 65px;
	right: 127px;
	width: 272px;
	padding: 20px 16px;
	padding-bottom: 10px;
}

.enter-popup input {
	display: block;
	width: 100%;
	padding: 7px 16px;
	margin-bottom: 10px;
}

.enter-popup input:hover,
.search-popup input:hover,
.form-popup input:hover,
.form-popup textarea:hover {
	border: 1px solid rgba(154, 154, 154, 0.52);
}

.enter-popup input:focus,
.search-popup input:focus,
.form-popup input:focus,
.form-popup textarea:focus {
	border-color: rgba(46, 136, 228, 0.52);
	outline: none;
}

.enter-popup input:last-of-type {
	margin-bottom: 15px;
}

.enter-popup .btn {
	float: left;
	width: 100px;
	padding: 5.5px 0;
	font-size: 15px;
	line-height: 24px;
}

.enter-popup a:not(.btn) {
	display: block;
	margin-left: 121px;
	color: rgb(51, 51, 51);
	font-size: 13px;
	line-height: 20px;
	text-decoration: underline;
}

.cart-popup {
	top: 65px;
	right: 0;
	width: 540px;
	padding: 21px 15px;
	color: rgb(51, 51, 51);
	font-size: 13px;
}

.cart-popup-show {
	display: block;
}

.cart-popup::before {
	content: "";
	position: absolute;
	top: 137px;
	right: 15px;
	left: 15px;
	height: 1px;
	background-color: rgb(202, 202, 199);
}

.cart-popup-list {
	position: relative;
	margin-bottom: 20px;
	padding-top: 17px;
	padding-left: 73px;
}

.cart-popup-list:nth-child(2) {
	margin-bottom: 30px;
}

.cart-popup-list::before {
	content: "";
	position: absolute;
	top: 7px;
	left: 28px;
	width: 33px;
	height: 33px;
	background: rgb(226, 145, 64) url("../img/ice-cream-small-1.jpg");
	border-radius: 50%;
}

.cart-popup-list:nth-child(2)::before {
	background: rgb(232, 127, 142) url("../img/ice-cream-small-2.jpg");
}

.cart-popup-close {
	position: absolute;
	top: 15px;
	left: 0px;
	width: 14px;
	height: 13px;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.cart-popup-close::before,
.cart-popup-close::after {
	content: "";
	position: absolute;
	left: 0;
	width: 14px;
	height: 1px;
	background-color: rgb(53, 53, 53);
}

.cart-popup-close::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.cart-popup-close::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.cart-popup-list span {
	display: inline-block;
	vertical-align: top;
}

.cart-popup-inner {
	color: rgb(128, 128, 128);
}

.cart-popup-list span:first-of-type:not(.cart-popup-inner) {
	max-width: 216px;
	margin-right: 31px;
}

.cart-popup-list span:nth-of-type(2) {
	max-width: 95px;
	margin-right: 20px;
}

.cart-popup-list span:nth-of-type(3) {
	max-width: 50px;
}

.cart-popup>span {
	float: right;
	margin-bottom: 15px;
	padding-right: 10px;
	max-width: 150px;
	font-size: 15px;
	font-weight: 700;
}

.cart-popup .btn {
	float: right;
	clear: both;
	width: 160px;
	padding: 5.5px 0;
	font-size: 15px;
	line-height: 24px;
}

.form-popup {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: none;
	width: 422px;
	margin-top: -221px;
	margin-left: -238.5px;
	padding: 25px 27px;
	background-color: rgb(248, 247, 244);
	border-radius: 10px;
}

.form-popup-show {
	display: block;
}

.form-popup-close {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 17px;
	height: 17px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.form-popup-close::before,
.form-popup-close::after {
	content: "";
	position: absolute;
	top: 7px;
	left: -2px;
	width: 20px;
	height: 2px;
	background-color: rgb(0, 0, 0);
}

.form-popup-close::before {
	transform: rotate(45deg);
}

.form-popup-close::after {
	transform: rotate(-45deg);
}

.form-popup p {
	margin: 0;
	margin-bottom: 24px;
	color: rgb(52, 52, 52);
	font-size: 24px;
	font-weight: 500;
	line-height: 22px;
}

.form-popup input,
.form-popup textarea {
	padding: 9px 16px;
	box-sizing: border-box;
	color: rgb(53, 53, 53);
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 5px;
	outline: none;
}

.form-popup input {
	display: block;
	width: 267px;
	margin-bottom: 20px;
}

.form-popup textarea {
	width: 100%;
	height: 155px;
	margin-bottom: 22px;
	resize: none;
}

.form-popup input::-webkit-input-placeholder,
.form-popup textarea::-webkit-input-placeholder {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.form-popup input:-ms-input-placeholder,
.form-popup textarea:-ms-input-placeholder {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.form-popup input::placeholder,
.form-popup textarea::placeholder {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.form-popup .btn {
	float: right;
	width: 139px;
	padding: 9px 0;
	font-size: 17px;
	font-weight: 700;
	line-height: 24px;
	border: none;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.overlay-show {
	display: block;
}

@keyframes translate {
	0% {
		transform: translateX(-1200px) scale(2);
		opacity: 0;
	}
	100% {
		transform: translateX(0) scale(1);
		opacity: 1;
	}
}


/*inner*/

.inner-page {
	color: rgb(255, 255, 255);
}

.inner-page::before {
	background: none;
}

.promo-inner {
	float: right;
	padding-bottom: 5px;
}

.promo-inner .promo-number {
	margin: 0;
}

.breadcrumbs {
	float: left;
	margin: 0;
	padding: 0;
	padding-top: 25px;
	font-size: 0;
	list-style: none;
}

.breadcrumbs li {
	display: inline;
	font-size: 14px;
}

.breadcrumbs li:not(:last-child) {
	padding-right: 22px;
}

.breadcrumbs a {
	color: rgb(255, 255, 255);
	text-decoration: underline solid rgba(255, 255, 255, 0.3);
}

.filter {
	padding-right: 290px;
	padding-bottom: 40px;
}

.filter h1 {
	margin: 0;
	margin-bottom: 33px;
	font-size: 35px;
	line-height: 30px;
}

.filter-title {
	display: block;
	padding-left: 16px;
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: 500;
}

.filter-inner {
	margin-bottom: 15px;
}

.list select,
.range,
.radio,
.checkbox,
.filter-submit {
	box-sizing: border-box;
	background-color: rgba(248, 247, 244, 0.2);
	border-radius: 20px;
}

.list select {
	width: 193px;
	margin-right: 15px;
	padding: 7px 11px;
	padding-right: 0;
	color: rgb(255, 255, 255);
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-transform: lowercase;
	cursor: pointer;
}

.list select:hover,
.filter-submit:hover {
	color: rgb(52, 52, 52);
	background-color: rgb(255, 255, 255);
}

.filter-submit:active {
	background-color: rgb(237, 237, 237);
	box-shadow: inset 0 2px 1px rgb(105, 105, 105);
}

.range {
	position: relative;
	margin-right: 15px;
	width: 218px;
	height: 36px;
}

.range::before {
	content: "";
	position: absolute;
	top: 16px;
	left: 15px;
	bottom: 16px;
	right: 15px;
	background-color: rgba(248, 247, 244, 0.5);
}

.range-btn {
	position: absolute;
	top: 8px;
	z-index: 1;
	width: 20px;
	height: 20px;
	background-color: rgb(248, 247, 244);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;
}

.range-btn-left {
	left: 34px;
}

.range-btn-right {
	right: 66px;
}

.range-line {
	position: absolute;
	left: 37px;
	top: 16px;
	z-index: 0;
	width: 107px;
	height: 4px;
	background-color: rgb(248, 247, 244);
}

.radio {
	width: 415px;
	height: 36px;
	padding: 0 16px;
	padding-top: 9px;
}

.radio input {
	display: none;
}

.radio label,
.checkbox label {
	position: relative;
	padding-left: 32px;
}

.radio label+label {
	margin-left: 14px;
}

.radio .indicator,
.checkbox .indicator {
	position: absolute;
	left: 0;
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	border: 1px solid rgb(255, 255, 255);
	cursor: pointer;
}

.radio .indicator {
	border-radius: 50%;
}

.radio input:checked+.indicator::before,
.checkbox input:checked+.indicator::before,
.checkbox input:checked+.indicator::after {
	content: "";
	position: absolute;
}

.radio input:checked+.indicator::before {
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	margin-top: -5px;
	margin-left: -5px;
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
}

.indicator:hover {
	border-width: 2px;
}

.radio input:checked+.indicator:hover::before {
	width: 12px;
	height: 12px;
	margin-top: -6px;
	margin-left: -6px;
}

.checkbox {
	width: 702px;
	height: 36px;
	padding: 0 16px;
	padding-top: 9px;
}

.checkbox input {
	display: none;
}

.checkbox label+label {
	margin-left: 18px;
}

.checkbox .indicator {
	border-radius: 4px;
}

.checkbox input:checked+.indicator::before {
	top: 50%;
	left: 30%;
	width: 11px;
	height: 2px;
	background-color: rgb(255, 255, 255);
	transform: rotate(-45deg);
}

.checkbox input:checked+.indicator::after {
	top: 59%;
	left: 13%;
	width: 7px;
	height: 2px;
	background-color: rgb(255, 255, 255);
	transform: rotate(45deg);
}

.filter-submit {
	width: 144px;
	padding: 6px 2px;
	color: rgb(255, 255, 255);
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 500;
	border: 2px solid rgb(255, 255, 255);
	cursor: pointer;
}

.inner-catalog {
	position: relative;
	padding-bottom: 39px;
}

.inner-catalog::before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1px;
	opacity: 0.3;
	background-color: rgb(255, 255, 255);
}

.inner-catalog .catalog-item {
	margin-bottom: 0;
}

.pagination {
	position: relative;
	clear: both;
	float: right;
	margin: 0;
	padding: 0;
	padding-right: 33px;
	font-size: 0;
	list-style: none;
}

.arrow-left,
.arrow-right {
	position: absolute;
	top: 8px;
	width: 9px;
	height: 14px;
}

.arrow-left {
	left: -25px;
}

.arrow-right {
	right: 15px;
}

.arrow-left::before,
.arrow-left::after,
.arrow-right::before,
.arrow-right::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 2px;
	background-color: rgb(255, 255, 255);
}

.arrow-left::before {
	top: 8px;
	transform: rotate(-135deg);
}

.arrow-right::before {
	top: 8px;
	transform: rotate(-45deg);
}

.arrow-left::after {
	top: 2px;
	transform: rotate(135deg);
}

.arrow-right::after {
	top: 2px;
	transform: rotate(45deg);
}

.arrow-active {
	cursor: default;
}

.arrow-active::before,
.arrow-active::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.2);
}

.pagination li {
	display: inline-block;
	font-size: 16px;
}

.pagination li a,
.pagination .active {
	display: inline-block;
	vertical-align: top;
	width: 25px;
	height: 26px;
	padding-top: 4px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

.pagination li a:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.pagination .active,
.pagination li a:active {
	color: rgb(53, 53, 53);
	background-color: rgb(255, 255, 255);
}
